body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 10px;
}

.title {
    font-weight: lighter;
    text-align: left;
    font-size: 45px;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
    width: 480px;
}

.link {
    color: #007185;
}

.bread {
    color: #565959
}

.description {
    font-size: 21px;
    font-weight: lighter;
}

.column1 {
    margin-right: 38px;
}
 